In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
mac = pd.read_csv('map_article_university_country.csv', delimiter=';') \
    [['article_id', 'country_id']].drop_duplicates()
mac

         article_id  country_id
0                 0          31
1                 0          44
2                 0         182
3                 1          44
5                 2         165
6                 3          55
8                 4          44
9                 5         128
10                5         165
11                5          44
12                5          55
13                6          44
15                7          44
16                8          44
17                9          57
18                9          55
20               10          44
23               11         165
24               12         165
25               12         166
26               13         165
27               14         137
29               14         165
31               15          44
32               15          50
33               15         147
34               16         165
35               16          55
38               17          55
40               17         165
...             ...         ...
1010001      364205          55
1010002      364206         143
1010004      364206         165
1010006      364207          55
1010007      364207         180
1010008      364208         143
1010009      364208         165
1010012      364209          44
1010013      364209          31
1010014      364209         143
1010015      364209          79
1010017      364210         143
1010018      364210         165
1010019      364211          55
1010020      364211         180
1010021      364212         143
1010022      364212          55
1010023      364213         143
1010024      364213          44
1010025      364214         143
1010026      364214          55
1010027      364214         160
1010028      364215         143
1010030      364215          55
1010031      364216         143
1010032      364216         165
1010033      364217         165
1010034      364218         165
1010035      364219         165
1010036      364220         165

[679447 rows x 2 columns]

In [3]:
cpair = (pd.merge(mac, mac, on='article_id', copy=False)
    .query('country_id_x != country_id_y')[['country_id_x', 'country_id_y']])
seen = set()
cpair = np.array([((x, y), seen.add((x, y)))[0]
               for (x, y) in cpair.values if (y, x) not in seen])
np.save('cpair', cpair)
cpair

array([[ 31,  44],
       [ 31, 182],
       [ 44, 182],
       ...,
       [160, 143],
       [143,  55],
       [165, 143]])

In [4]:
cname = pd.read_csv('country.csv', delimiter=';')
сname = pd.merge(pd.DataFrame(mac['country_id'].unique()), cname, left_on=0,
                 right_on='country_id')[['country_id', 'country_name']]
np.save('cname', cname)
cname

     country_id     country_name
0             0      afghanistan
1             1          albania
2             2          algeria
3             3          andorra
4             4           angola
5             5        argentina
6             6          armenia
7             7        australia
8             8          austria
9             9       azerbaijan
10           10          bahamas
11           11          bahrain
12           12       bangladesh
13           13         barbados
14           14          belgium
15           15           belize
16           16            benin
17           17          bermuda
18           18           bhutan
19           19          bolivia
20           20  bosnia-&-herceg
21           21     boston-univ,
22           22         botswana
23           23           brazil
24           24           brunei
25           25         bulgaria
26           26     burkina-faso
27           27          burundi
28           28         byelarus
29           29         cambodia
..          ...              ...
165         165           sweden
166         166      switzerland
167         167            syria
168         168           taiwan
169         169       tajikistan
170         170         tanzania
171         171         thailand
172         172             togo
173         173            tonga
174         174  trinid-&-tobago
175         175          tunisia
176         176           turkey
177         177     turkmenistan
178         178  u-arab-emirates
179         179           uganda
180         180          ukraine
181         181          uruguay
182         182              usa
183         183       uzbekistan
184         184          vanuatu
185         185          vatican
186         186        venezuela
187         187          vietnam
188         188   w-ind-assoc-st
189         189            wales
190         190            yemen
191         191       yugoslavia
192         192            zaire
193         193           zambia
194         194         zimbabwe

[195 rows x 2 columns]